   body {
     background-image: url("Hauntedwoods.jpg");
     background-repeat: no-repeat;
     background-size: 1500px, auto;
     margin: 0;
     padding: 0;

   }
  
  
  h1 {
    color:rgb(72, 172, 122);
  }

div > span {
  opacity: 0.15;
}

ul {
    position: -webkit-sticky; 
  position: sticky;
  top: 0;
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:lightgrey;
}

li {
  float: left;

 
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 18px;
  text-decoration: silver;

}



a:hover {
  color: silver;
} 



 a:visited {
  color: rgba(252, 172, 0, 0.726);
  background-color: transparent;
  text-decoration: underline;
}
p {
  color: silver;
}




#grad1 {
    height: 50px;
    background: linear-gradient(rgba(72, 172, 122, .726), Black);
  }

/* container for 8ball */
.flex-container {
     
     display: flexbox;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: center;
}

 #p1 { 
  
     width: 666px;
     height:auto;
      

 } 
/* begining of 8 ball code */
 h2 { 
     font-weight: 100; 
     font-size: 2.5em;
     color: rgba(78, 90, 99, 0.2);
     }
     h2:hover {
         color: silver;
         transition: .15s;
     }
     
     #content { 
      width: 400px; 
      margin: 0 auto; 
      margin-top: 50px;      
      text-align: center; 
      font-family: Helvetica, arial; 
      font-weight: 100;
    }
     
     div.eight-ball {
       background-color:rgba(5, 5, 5, 0.500);
       border: 1px solid;
       border-color:rgba(72, 172, 122, .400); 
       border-radius: 50%;
       width: 300px;
       height: 300px;
       margin: 0 auto;
       margin-bottom: 30px;
       margin-top: 30px;
     }
     
     div.answer {
       background-color:  rgba(51, 51, 51, .5);
       border: 1px solid rgba(72, 172, 122, .426);
       border-radius: 50%;
       width: 50%;
       height: 50%;
       margin: 25% auto;
     }
     
     p#eight {
       font-size: 5em;
       margin: 20% auto;
       color:  rgba(72, 172, 122, .666);
     }
     
     p#answer {
       padding: 23px;
       color:rgba(72, 172, 122, .666);
       letter-spacing: 2px;
       font-size:16px;
     }
     
     #question {
       margin: 20px;
       padding: 10px;
       width: 300px;
       font-size:16px;
       background-color: rgba(72, 172, 122, .860);
     }
  