* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #24272E;
}

header {
    background: white;
    padding: 20px;

}

header > h1 {
    color:#25272E;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.score-board {
    color: white;
    font-size:46px;
    text-align: center;
    padding: 15px 20px;
    border-radius: 4px;
    border: 3px solid white;
    width: 200px;
    margin: 20px auto;
    position: relative
}

.badge {
    background: #E25840;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Helvetica, sans-serif;

}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;

}

#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;

}

.result {
    font-size: 40px;
    color: white;
   
}

.result > p {
    text-align:center;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.choices {
    margin-top: 50px 0;
    text-align: center;
}


.choice {
    margin: 20px 20px;
    padding: 10px;
    border: 4px solid white;
    border-radius: 50%;
    display: inline-block;
    transition: all .03s ease;
}

.choice:hover {

    cursor: pointer;
    background: linen;
}

#action-message {
    margin: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    font-family:Helvetica, sans-serif;
}


